/* Coolors Exported Palette - coolors.co/ff6666-4fc24f-1c97a5-b0228c-f3ca40 */

/* HSL */
$color1: hsla(0%, 100%, 70%, 1);
$color2: hsla(120%, 49%, 54%, 1);
$color3: hsla(186%, 71%, 38%, 1);
$color4: hsla(315%, 68%, 41%, 1);
$color5: hsla(46%, 88%, 60%, 1);

/* RGB */
$rojo: rgba(255, 102, 102, 1);
$verde: rgba(79, 194, 79, 1);
$azul: rgba(28, 151, 165, 1);
$morado: rgba(176, 34, 140, 1);
$amarillo: rgba(243, 202, 64, 1);